
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.text-center {
  text-align: center;
}

table, td, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td, td {
  padding: 5px;
}

.border-wide {
  border-width: 5px;
}
.bg-green {
  background: green;
}
.bg-red {
  background: red;
}
.bg-yellow {
 background: yellow;
}

.ul-dash {
  list-style: none;
}

.text_picture {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ul-skobka li::before {
  content: ")";
  position: relative;
  left: -9px;
}

.ul-dash li:before {
  content: "-";
  position: relative;
  left: -5px;
}
.impact {
  font-family: Impact, fantasy;
}
.text-one {
  text-decoration: underline;
  color: rgb(144, 15, 129);
  font-style: italic;
}
.text-two {
  font-weight: 900;
  font-size: 7px;
}
.text-four {
  font-stretch: condensed;
  color: rgb(255, 179, 0);
}
.text-three {
  font-size: 12px;
  color: red;
  font-stretch: wider;
}
.image-style {
  height: 250px;
  width: 250px;
}