* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: end; 
    justify-content: center; 
    width: 50%;
    height: 100vh;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
}

.div1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(222, 126, 172);
}

.div2 {
    position: relative;
    width: 70%;
    height: 100px;
    background: linear-gradient(-90deg, #ee11af 0px,  #ee11af 50px, #9e01e7 500px);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    z-index: 3;
    margin-bottom: -5px;
    border: 5px solid white;
    border-left: 0;
    border-bottom: 0;
    text-align: center;
    padding-top: 50px;
}
.div2::before {
    position: absolute;
    top: 0;
    left: 22.5px;
    content: attr(div); 
    width: 100%;
    height: 100px;
    border-left: 7px solid white;
    z-index: 3;
    transform: skewX(-26.5deg);
}

.div2 a {
    position: relative;
    display: inline-block;
    z-index: 4;
}

.div3 {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 80%;
    border-radius: 0 0 15px 15px;
    background: linear-gradient(-90deg, #ee11af 0px,  #ee11af 50px, #9e01e7 500px); 
    z-index: 1;
    border: 5px solid white;
}

.diamonds {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.diamond {
    border: 5px solid #1111ee;
    width: 150px;
    height: 150px;
    background-color: rgb(243, 2, 123);
    transform: rotate(45deg); 
}

.diamond-text {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
   
}

.diamonds::after {
    content: "BANANAS";
    position: absolute;
    font-size: 48px;
    font-weight: bold;
    color: yellow;
    animation: blink 1s infinite;
    text-align: center;
    transform: translateY(85%);
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.div2 a {
    text-transform: uppercase;
    display: inline-block;
}

.text {
    width: 85%;
    color: aliceblue;
    padding-top: 20px;
}
